<h1>Products</h1>

<% @products.parse.each do |product| %>
  <center> 
    <h style = "text-decoration: underline;">
      <a href="/client/products/<%= "#{product['id']}" %>"><%= product["name"] %></a>
      <%= product['quantity'] %>
    </h>
    <p><%= product['description'] %></p>
  </center>
<% end %>